<html>
    <head>
        <link rel="stylesheet" type = "text/css" href="../css/mainpage.css">
		<link rel = "stylesheet" type = "text/css" href = "../css/index.css">
		<script src = "../js/mainpage.js"></script>
		<script src = "../user-disp.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title> Home</title>
    </head>

    <body>
        <div class = "main-container">
			<div class = "menu-bar">
				<ul class = "menu-actions">
					<a href = "/mainpage/{{loggeduser.username}}"><li class = "forum-logo"></li></a>
				</ul>
	
				<ul class = "menu-actions">
					<li><a href="/mainpage/{{loggeduser.username}}" class="home-button">Home</a></li>
					<li class = "search-bar"><input type="search" id="query" name="q" placeholder="Search..."></li>
					<li class = "search-button"><a href = "searchresult.html"><button type="button" id="query-button" name="qb"></button></a></li>
				</ul>
				<ul class = "menu-actions">
					<li> <span class = "user-name">{{loggeduser.username}}</span></li>
                	<li><a href = "/user-profile/{{loggeduser.username}}-posts"><img class = "user-icon" src="{{loggeduser.profilePicture}}"/></a></li>
				</ul>
			</div>
		</div>
        <div class="main-div">
            <div class="main-postpage pagecolor"> 
                <div class="main-postpage-top">
					<button class="main-postpage-sortbutton"> <img class="main-sortarrows"   src="/images/sortarrows.png">  </button>
					<label class="main-sortby"> Sort by:</label>
					<select class="main-dropdown" onchange="urlHandler(this.value)">
						<option class="main-option"></option>
						<option class="main-option" value="popularresult.html">Popular</option>
						<option class="main-option" value="trendingresult.html">Trending</option>
						<option class="main-option" value="controversialresult.html">Controversial</option>
					</select>
					<a class="link-post" href="edit-post.html"> 
						<button class="main-createpost-button" href="edit-post.html">  Create New<br> Post </button>
					</a>
				</div>
				<div class="main-postpage-posts">
					<p class="main-poststitle"> POSTS </p>
					 
					 
					{{#each allPosts}}
					<div class="main-postpage-idvpost">
						<div class="main-postpage-vote">
							<div class = "upvote" id = "upvote3#" onclick="changeVote(1, {{this.postId}}, {{loggeduser.userId}})"></div>
							<div class = "vote-number" id = "vote-number{{this.postId}}"> {{this.votes}} </div>
							<div class = "downvote" id = "downvote3#" onclick="changeVote(0, {{this.postId}}, {{loggeduser.userId}})"></div>
						</div>
						<div class="main-postpage-image">
							<a class="link-post" href="/post/{{this.title}}"> <img class="main-indpost-image" src="{{this.image}}"></a>
						</div>
						<div class="main-postpage-description">
							<p class="main-indpost-title">
								<a class="link-post" href="/post/{{this.title}}"> {{this.title}} </a>
							</p>
							<p class="main-indpost-postedby"> Posted by <a class="link-post" href="/user-profile/{{ ******** (function for getting username from postUser) ******}}-posts"> BLANK </a> </p>
							<p class="main-indpost-description"> 
								{{this.description}}
							</p>
							
						</div>
					</div>
					{{/each}}

				</div>
            </div>

			<div class="main-rightpage">
				<div class="main-announcements pagecolor">
					<p class="main-announcements-title"> Announcements from the developers</p>
					<p class="main-announcement-message">
						Thank you for participating for the ArchersGuild 
						alpha testing. 
					</p>
				</div>
				<div class="main-tags">
					<div class="main-gametag firsttag">
						<a class="gametag" href="fpsresult.html"> FPS </a>
					</div>

					<div class="main-gametag firsttag">
						<a class="gametag" href="mobaresult.html"> MOBA</a>
					</div>

					<div class="main-gametag firsttag">
						<a class="gametag" href="singleplayerresult.html">Single Player</a>
					</div>

					<div class="main-gametag firsttag">
						<a class="gametag" href="multiplayerresult.html">Multiplayer</a>
					</div>
				</div>
				<div class="main-recentposts pagecolor">
					<p class="main-recentposts-title"> Last Viewed Post</p>
					<div class="main-recentviewpost">
						<div class="main-recentviewpost-description">
							<p class="main-recentviewpost-title">
								<a class="link-post" href="TFT-Latest-Patch-Notes.html">TFT Latest Patch Notes</a>
							</p>
							<p class="main-recentviewpost-description"> 
								Has anyone read the lastest tft patch notes? I haven't played the game for a while and ...
							</p>
							
						</div>
					</div>
					
				</div>
			</div>
        
        </div>



    </body>
</html>
