<html>
    <head>
        <link rel="stylesheet" href="usersettings.css">
		<link rel = "stylesheet" type = "text/css" href = "../css/index.css">
        <link rel = "stylesheet" type = "text/css" href = "../css/usersettings.css">
        <script src = "../js/usersettings.js"></script>
    </head>

    <body>
        <div class = "main-container">
			<div class = "menu-bar">
            <ul class = "menu-actions">
                <a href = "/mainpage/{{user.username}}"><li class = "forum-logo"></li></a>
            </ul>

            <ul class = "menu-actions">
                <li><a href="/mainpage/{{user.username}}" class="home-button">Home</a></li>
                <li class = "search-bar"><input type="search" id="query" name="q" placeholder="Search..."></li>
                <li class = "search-button"><a href = "searchresult.html"><button type="button" id="query-button" name="qb"></button></a></li>
            </ul>
            <ul class = "menu-actions">
                <ul class = "menu-actions">
                    <li><a href = "/signup-page/{{user.username}}"><button type="button" class="register-button">Register</button></a></li>
                    <li><a href = "/login-page/{{user.username}}"><button class="login-button">Login</button></a></li>
                </ul>
                <li> <span class = "user-name">{{user.username}}</span></li>
                <li><a href = "/user-profile/{{user.username}}-posts"><img class = "user-icon" src="{{user.profilePicture}}"/></a></li>
            </ul>
            </div>
		</div>
        <div class="main-div">
            <div class="main-postpage pagecolor"> 
				<div class="settings-div">

					<p class="settings-title"> USER SETTINGS </p>

                </div>
                <div class="settings">

                    <button onclick="openChangeName()" class="settings-button"> Change Name </button>
                    
                    <div id="settings-changingname" class="settings-changingname">
                        <div class="changingname">
                            <input class="settings-input" type="text" placeholder="New Name"> 
                            <button class="settings-confirmbutton"> <img class="settings-buttonimg" src="../images/check.png"> </button>
                            <button class="settings-cancelbutton" onclick="openChangeName()" > <img class="settings-buttonimg" src="../images/xmark.jpg"> </button>
                        </div>
                    </div>

                    <button onclick="openChangeUserName()" class="settings-button"> Change Username </button>

                    <div id="settings-changingusername" class="settings-changingusername">
                        <div class="changingusername">
                            <input class="settings-input" type="text" placeholder="New Username"> 
                            <button class="settings-confirmbutton"> <img class="settings-buttonimg" src="../images/check.png"> </button>
                            <button class="settings-cancelbutton" onclick="openChangeUserName()" > <img class="settings-buttonimg" src="../images/xmark.jpg"> </button>
                        </div>
                    </div>

                    <button onclick="openChangePass()" class="settings-button"> Change Password </button>

                    <div id="settings-changingpass" class="settings-changingpass">
                        <div class="changingpass">
                            <input class="settings-input" type="text" placeholder="Old Password"> 
                            <input class="settings-input" type="text" placeholder="New Password"> 
                            <button class="settings-confirmbutton"> <img class="settings-buttonimg" src="../images/check.png"> </button>
                            <button class="settings-cancelbutton" onclick="openChangePass()" > <img class="settings-buttonimg" src="../images/xmark.jpg"> </button>
                        </div>
                    </div>


                    <button onclick="openChangePfp()" class="settings-button"> Change Profile Picture </button>

                    <div id="settings-changingprofilepic" class="settings-changingprofilepic">
                        <div class="changingprofilepic">

                            <form id="changingprofilepic" action="/upload" method="post" enctype="multipart/form-data">
                                <label for="file-input">Select a file to upload:</label>
                                <input type="file" id="file-input" name="file" accept=".png, .jpg, .jpeg">
                        
                                <br><br>
                            </form>
                            <button class="settings-confirmbutton"> <img class="settings-buttonimg" src="../images/check.png"> </button>
                            <button class="settings-cancelbutton" onclick="openChangePfp()" > <img class="settings-buttonimg" src="../images/xmark.jpg"> </button>
                        </div>
                    </div>

                    <button onclick="openChangeDescription()" class="settings-button"> Change Description </button>

                    <div id="settings-changingdesc" class="settings-changingdesc">
                        <div class="changingdesc">
                            <textarea  name="paragraphs" rows="4" cols="50"></textarea>
                            <button class="settings-confirmbutton"> <img class="settings-buttonimg" src="../images/check.png"> </button>
                            <button class="settings-cancelbutton" onclick="openChangeDescription()" > <img class="settings-buttonimg" src="../images/xmark.jpg"> </button>
                        </div>
                    </div>

                    
				</div>
            </div>
    </body>
</html>